header{
    background-image: url('imgs/bg.svg');
}
#heroText{
        background: linear-gradient(135deg, rgba(255,0,0,1) 28%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}